@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
/********************
basics
********************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  background: #262626;
  font-weight: 300;
  color: #FFFFFF;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/********************
mixins
********************/
/********************
logo
********************/
.logo {
  position: fixed;
  top: 30px;
  left: 20px;
}
.logo img {
  width: 50px;
}

.menu-icon,
.close-icon {
  position: fixed;
  top: 30px;
  right: 20px;
  color: #FFFFFF;
}

/********************
header
********************/
header {
  background-image: url(/img/Naslovna.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header img {
  width: 170px;
}
header h1 {
  max-width: 1578px;
  width: 100%;
  color: #59B7B4;
  font-size: 5rem;
  margin-top: 70px;
}
header h1 span {
  font-weight: 100;
  color: #FFFFFF;
}

/********************
intro
********************/
.intro {
  background-image: url(img/Background2.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
}
.intro span {
  color: #59B7B4;
  display: block;
}
.intro span:first-child {
  padding: 30px 0;
}
.intro span:last-child {
  padding: 30px 0;
}

/********************
accents
********************/
.accents, .warranty {
  background: #59B7B4;
  padding: 70px 0;
}
.accents p, .warranty p {
  color: #2F2F2F;
}

/********************
program
********************/
.program {
  padding: 100px 0;
}
.program p {
  color: #59B7B4;
  font-weight: 700;
  padding: 0 300px;
  text-align: center;
}

/********************
impressions
********************/
.impressions {
  padding: 70px 0;
  text-align: center;
}
.impressions h2 {
  margin-bottom: 100px;
  font-size: 3.5rem;
}
.impressions article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.impressions article div {
  flex: 0 0 23%;
}
.impressions article div img {
  width: 80px;
  border-radius: 50%;
  margin: 0 auto 40px auto;
}
.impressions article div h3 {
  font-size: 1.6rem;
  margin-bottom: 30px;
  color: #59B7B4;
}
.impressions article div p {
  opacity: 0.5;
  font-size: 0.9rem;
}

/********************
benefits
********************/
.benefits {
  padding: 70px 0;
}
.benefits article div {
  background: #373737;
  box-shadow: 8px 16px 32px #0000001A;
  border-radius: 24px;
  opacity: 1;
  padding: 30px 60px;
  max-width: 700px;
  width: 100%;
  margin: auto;
}
.benefits article div h3 {
  color: #59B7B4;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.benefits article div li {
  color: #59B7B4;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}
.benefits article div li::before {
  content: "";
  height: 10px;
  background: #1D1D1B;
  border: 8px solid #59B7B4;
  border-radius: 50%;
  width: 10px;
  display: inline-block;
  margin-right: 20px;
  line-height: 8px;
  position: relative;
  top: 6px;
}
.benefits article div:first-child {
  margin-bottom: 40px;
}

/********************
warranty
********************/
.warranty {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

/********************
activities
********************/
.activities {
  padding: 70px 0;
  text-align: center;
}
.activities h2 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 50px;
}
.activities .slider .item img {
  width: 375px;
  border-radius: 60px;
  margin: 0 auto 50px auto;
}
.activities .slider .item a {
  text-decoration: none;
}
.activities .slider .item a h3 {
  font-size: 18px;
  color: #59B7B4;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.activities .slider .item p {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.5;
  padding: 0 50px;
  line-height: 25px;
}
.activities article:last-child {
  text-align: center;
  padding: 100px 0;
}
.activities article:last-child p {
  color: #59B7B4;
  font-weight: 700;
  padding: 0 200px;
}
.activities article:last-child div {
  margin-top: 50px;
}
.activities article:last-child div a:first-child {
  background: #FFFFFF;
  color: #59B7B4;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 43px;
  border-radius: 35px;
  margin-right: 80px;
}
.activities article:last-child div a:last-child {
  background: #59B7B4;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 43px;
  border-radius: 35px;
}

/*# sourceMappingURL=style.css.map */
